@model COMP2007_S2016_TeamProject2.Models.Order

@using (Html.BeginForm())
{

    <h2>Address And Payment</h2>
    <fieldset>
        <legend>Shipping Information</legend>
        @Html.EditorForModel()
    </fieldset>


    <input type="submit" value="Submit Order" />
}