@{
    ViewBag.Title = "About";
}
<div class="about">
    <div class="col-lg-8">
        <h2>@ViewBag.Message</h2>
        <address>
            2 Bernick Drive<br />
            Barrie, Canada L4M 5K4<br />
            <abbr title="Phone">P:</abbr>
            +1 705-970-3777
            <p>Hello, my name is Eric. I am from China but currently studying in Canada. Sharing my knowledge and helping others to succeed is what I’m passionate about. I have a lot of experiences to help others. My advantages are that I’m very thoughtful, caring, patient and detail oriented, which is very helpful for tutoring. I’m also able to provide instruction in multiple languages: English and Chinese. I have experience in learning in both Chinese and Canadian education systems. For those who are willing to learn Chinese, I’m very glad to help. The best part about tutoring for me is working with students one-on-one and knowing that I played a part in their academic success. My strength is breaking complex concepts into smaller steps to make learning easier. My goal is to continue to be a capable and resourceful guide and mentor. I would be grateful for the opportunity to help students with a single problem, a general concept, or on a regular basis. I am a listener, learner, helper, and an encourager who loves to see students succeed. I can’t wait to start my career to help others.</p>
        </address>
    </div>
    <div class="col-lg-2">
        <img src="~/Assets/Images/Location.png" alt="Location" width="700" height="500" />
    </div>
</div>


