@{
    ViewBag.Title = "Contact";
}
<div class="row">
    <div class="col-sm-6 col-md-4">
        <h2>@ViewBag.Message</h2>
        <address>
            109 Xidan St<br />
            Beijing, China 179023<br />
            <abbr title="Phone">P:</abbr>
            +86 666-666-8888
        </address>
    </div>
    <div class="co-sm-12 co-md-8">
        <img src="~/Assets/Images/Location.png" alt="Location" width="700" height="500" />
    </div>
</div>


