
@{
    ViewBag.Title = "Teaching Meterial";
}

<div class="jumbotron">
    <div class="page-header">
        <h1></h1>
    </div>
</div>
<div class="row" id="videolist">
    <div class="col-xs-2">
        <a class="btn btn-link btn-lg" href="https://youtu.be/i6-saLE1Qlk"><p>Overview of Tones</p></a>
        <a class="btn btn-link btn-lg" href="https://youtu.be/aXDDx-d0Ghw"><p>Exchanging Greetings</p></a>
        <a class="btn btn-link btn-lg" href="https://youtu.be/77xSyv2_khA"><p>Family Part 1 - Looking at a Family Photo</p></a>
        <a class="btn btn-link btn-lg" href="https://youtu.be/gCk_TBH3Wgg"><p>Family Part 2 - Asking about Someone's Family</p></a>
        <a class="btn btn-link btn-lg" href="https://youtu.be/ipuUVkopBwU"><p>Asking about Someone's Nationality</p></a>
        <a class="btn btn-link btn-lg" href="https://youtu.be/memaiHDn0Ss"><p>Ask Someone to Eat Out On His or Her Birthday</p></a>
        <a class="btn btn-link btn-lg" href="/Home/About"><p>Check My Location</p></a>
    </div>
</div>


