@using COMP2007_S2016_TeamProject2.Models
@model IEnumerable<FoodType>

@{
    ViewBag.Title = "Index";
}

<ul>
    @foreach (FoodType item in Model)
    {
        <li>@Html.ActionLink(item.Name, "Browse", new { foodtype=item.Name })</li>
    }
</ul>
